.post table {
  border-collapse: collapse;
  font-size: 10pt;
  margin-bottom: 2em;
  width: 100%;

  th, td {
    padding: 0.5rem;
    border: 1px solid #eee;
    text-align: left;
  }

  &.ranking-top {
    th, td {
      vertical-align: middle;
    }
    th:nth-child(2) {
      width: 8rem;
      img {
        border-radius: 100%;
        width: 8rem;
        margin-bottom: 0;
      }
    }
  }

  th[role="columnheader"] {
    cursor: pointer;
    &:hover {
      background-color: lightyellow;
    }
  }

  th[aria-sort] {
    background-color: lightgoldenrodyellow;
  }
}