@import 'tale/variables';

@import url(https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i);

$serif-primary: 'Rubik', sans-serif;
$serif-secondary: 'Rubik', sans-serif;
$sans-serif: 'Rubik', sans-serif;

@import 'tale/base';
@import 'tale/code';
@import 'tale/post';
@import 'tale/syntax';
@import 'tale/layout';
@import 'tale/pagination';
@import 'tale/catalogue';

.post-title, .post-info {
  text-align: left;
}

.post-title {
  font-size: 2.5em;
}

.post-line {
  margin: 1.5rem 0 3rem;
}

.post {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    * {
      line-height: 1.2;
    }
  }

  p, li {
    line-height: 2;  
  }

  hr {
    margin: 3em 0;
    border-style: solid;
    border-color: #ddd;
  }

  table {
    border-collapse: collapse;
    font-size: 10pt;
    margin-bottom: 2em;
    width: 100%;

    th, td {
      padding: 0.5rem;
      border: 1px solid #eee;
      text-align: left;
    }
  }

  .chartjs-render-monitor, .post .vis-timeline {
    margin: 1.5em 0;
  }
}

.nav {
  ul {
    position: relative;
    text-align: left;
  }

  li {
    padding-right: 1rem;
  }
}


ol.footnotelist {
  font-size: 10pt;
  padding-left: 0;

  li {
    line-height: 1.5;
    padding-left: 0.25em;
    margin-bottom: 0.25em;
  }
}

.post 

twitterwidget {
  margin: 2em auto !important;
}

table {
  &.ranking-top {
    th, td {
      vertical-align: middle;
    }
    th:nth-child(2) {
      width: 8rem;
      img {
        border-radius: 100%;
        width: 8rem;
        margin-bottom: 0;
      }
    }
  }

  th[role="columnheader"] {
    cursor: pointer;
    &:hover {
      background-color: lightyellow;
    }
  }

  th[aria-sort] {
    background-color: lightgoldenrodyellow;
  }
}

.post-disqus {
  margin-top: 3rem;
}

a.campaign-callout {
  display: block;
  padding: 1em;
  background: #d0eada;
  border-radius: 0.5em;
  margin-top: 2em;

  &, h1 { 
    color: #1a771a;
  }

  h1 {
    margin: 0;
    font-size: 16pt;
    text-decoration: underline;
  }

  p {
    margin: 0.25em 0;
    color: #333;
  }
}

@media print {
  body { font-size: 10pt; }
  main, .nav-container { width: 100%; max-width: 100%; text-align: left; }
  nav.nav ul, .post-disqus, .pagination { display: none; }
  .post-title { font-size: 2rem; }
  .post hr, .post-line { margin: 1.5em 0; }
  .post p, .post li { line-height: 1.6; }
  .post li + li { margin-top: 0.5em; }
}