---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url(https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i);

@import 'variables';
@import 'base';
@import 'code';
@import 'syntax';
@import 'layout';
@import 'post';
@import 'table';
@import 'catalog';
@import 'charts';
@import 'pagination';
@import 'print';

twitterwidget {
  margin: 2em auto !important;
}

// Special campaign styles
a.campaign-callout {
  display: block;
  padding: 1em;
  background: #d0eada;
  border-radius: 0.5em;
  margin-top: 2em;

  &, h1 { 
    color: #1a771a;
  }

  h1 {
    margin: 0;
    font-size: 16pt;
    text-decoration: underline;
  }

  p {
    margin: 0.25em 0;
    color: #333;
  }
}